__pycache__/drawing.cpython-311.pyc
projects (db)
.vscode/settings.json
__pycache__/server.cpython-311.pyc
api_client.py
api_server.py
print table.py
__pycache__/drawing.cpython-312.pyc
__pycache__/socket_helper.cpython-311.pyc
__pycache__/socket_helper.cpython-312.pyc
